@use "styles" as s

.input
    @include s.input-focus(s.$color-green)
    height: 3rem
    padding: 0 1rem
    border: 1px solid s.$color-green
    outline: none
    border-radius: 6px
    font-size: 20px
    color: s.$color_text_gray
