@use 'styles' as s

.main
    margin-bottom: 4rem
    display: grid
    grid-template-columns: 3fr 1.5fr
    min-height: 100vh

.timeline
    justify-self: center

.tour_description
    max-width: 1200px
    margin: 2rem 2rem 0 0
    justify-items: center
    &__details
        margin: 1rem 0
        font-size: 26px
        text-align: start
        div
            display: flex
            align-items: center
            padding: 5px 0

.title
    font-size: 35px
    &--dimmed
        color: s.$color-gray

.line
    margin: 1rem 0
    height: 3px
    background-color: s.$color-green

.accordions
    display: grid
    max-width: 600px

.enroll
    margin-top: 1rem

@media (max-width: 1890px)
    .main
        grid-template-columns: 1fr
    .tour_description
        margin: 2rem auto
        width: 100%

@media (max-width: s.$TABLET)
    .tour_description
        padding: 2rem
    .tour_details__icon
        display: none
