.main
    min-height: 100vh

.section_one
    margin-top: 15vh
    display: grid
    grid-template-columns: 2fr 1fr
    min-height: 85vh

.tour_description
    height: 1000px
    background-color: yellow
    &__name
        text-align: center
        font-size: 50px
    

.accordion
    width: 1000px
    margin: 50px auto
