@use 'styles' as s

.main
    margin-bottom: 4rem
    display: grid
    grid-template-columns: 3fr 1.5fr
    padding-top: 18vh
    min-height: 100vh

.timeline
    justify-self: center

.tour_description
    margin: 2rem 2rem 0 0
    align-items: center
    justify-items: center
    justify-content: center
    &__details
        margin: 1rem 0
        font-size: 26px
        text-align: start
        div
            display: flex
            align-items: center
            padding: 5px 0

.title
    font-size: 35px
    &--dimmed
        color: s.$color-gray

.line
    margin: 1rem 0
    height: 3px
    background-color: s.$color-green

.accordions
    display: grid
    width: 600px

.enroll
    margin-top: 1rem
