.main
    display: grid
    justify-content: center
    text-align: center
    gap: 1rem
    justify-items: center
    margin: 4rem 0
    .header
        font-size: 28px
    .text
        font-size: 17px
        width: 45ch

.image_block
    position: relative
    display: grid
    justify-content: center
    align-items: center
    transition: 0.4s
    padding: 2rem
    padding-top: 4rem
    background-color: #EDFFFF
    border-radius: 15px
    box-shadow: -10px 10px 23px 9px rgba(0, 0, 0, 0.17)
    width: 100%
    .image
        display: block
        max-height: 400px
        max-width: 100%
        aspect-ratio: 16/9
        cursor: pointer
        transition: 0.4s
        border-radius: 15px
    .header
        position: absolute
        top: 13px
        left: calc(50% - 250px)
        width: 500px
        text-align: center
        font-size: 30px
        font-weight: 500
        color: #000

.image_block__current
    transform: scale(110.5%)

    .read_more
        display: none
        position: absolute
        top: 45%
        left: 36%
        font-size: 25px
        color: #fff

    &:hover
        .image
            filter: brightness(50%)
            border-radius: 10px
        .read_more
            display: block
        .header
            display: block
