@use 'styles' as s

.main
    padding: 1rem 1.5rem
    display: flex
    align-items: center
    justify-content: space-around
    background-color: transparent
    border-radius: 6px
    cursor: pointer
    font-size: 20px
    font-weight: 300
    transition: 1s

.primary
    border: 1px solid
    &:hover
        border-color: s.$color-green
        color: s.$color-green

.contained
    background-color: s.$color-green
    border: none
    color: #fff
    transition: 0.35s
    &:hover
        background-color: s.$color-dark-green
