@use 'styles' as c

.main
    margin: 2rem 0
    display: grid
    justify-content: end
    align-items: center
    min-height: 100vh
    background: url('../../assets/imgs/ashgabat2.jpg')
    background-size: cover
    background-repeat: no-repeat

.content
    margin-right: 20rem
    padding: 2rem
    background: transparent
    border-radius: 10px
    color: #000
    .title
        font-size: 50px
    .contact_block
        margin: 1rem 0
    .contact_text
        margin-left: 10px
        font-size: 30px
        color: #000
