@use 'styles' as c

.main
    display: grid
    justify-content: end
    align-items: center
    min-height: 50vh
    background: url('../../assets/imgs/ashgabat2.jpg')

.content
    margin-right: 20rem
    padding: 2rem
    background: #fff
    opacity: 0.5
    border-radius: 10px
    color: #000
    .title
        font-size: 50px
    .contact_block
        margin: 1rem 0
    .contact_text
        margin-left: 10px
        font-size: 30px
        color: #000 
