@use 'styles' as c

.main
    min-height: 50vh
    margin: 4rem 20rem

.row
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 2em

.image_block
    position: relative
    .image
        border: 2px solid c.$light-gray-color
        border-radius: 10px
        width: 100%
    .legend
        display: none
        position: absolute
        bottom: 20px
        right: 30px
        font-size: 30px
        color: #fff
        z-index: 9999

.aaa
    text-align: end

.title
    font-size: 50px
    color: c.$gray-color

.subtitle
    font-size: 20px
    color: c.$light-gray-color

.buttons
    margin-top: 1rem
    display: flex
    justify-content: end
    gap: 1rem

.btn
    background-color: #fff
    padding: 1rem 2rem
    font-weight: 700
    border-radius: 10px
    cursor: pointer

.btn__light
    color: c.$orange-color
    border: 1px solid c.$orange-color

.btn__gray
    color: c.$light-gray-color
    border: 1px solid c.$light-gray-color

.gallery
    margin-top: 2rem
    display: grid
    grid-template-columns: repeat(3, 1fr)
    flex-wrap: wrap
    justify-items: stretch
    gap: 2rem
    .gallery_image
        position: relative
        flex: 1
        width: 400px
        cursor: pointer
        .image
            width: 100%
            height: 200px
            border-radius: 10px
            border: 2px solid c.$light-gray-color

        .legend
            display: none
            position: absolute
            bottom: 20px
            right: 40px
            font-size: 30px
            color: #fff
            text-align: center
        &:hover
            .image
                filter: brightness(50%)
            .legend
                display: block

.modal_main
    display: grid
    justify-content: center
    justify-items: center
    align-items: center
    z-index: 9999

.modal_title
    margin-bottom: 10px

.modal_image
    border-radius: 10px
    height: 200px
    width: 500px
    margin-bottom: 10px

.modal_text, .modal_history
    font-size: 18px
