@font-face
    font-family: Judson
    src: url('assets/fonts/Judson-Regular.ttf') format('truetype')
    font-weight: 400

@font-face
    font-family: Judson
    src: url('assets/fonts/Judson-Bold.ttf') format('truetype')
    font-weight: 700
