// ------------ M PLUS Rounded 1c ----------
@font-face
    font-family: MPLUSRounded1c
    src: url('assets/fonts/MPLUSRounded1c/MPLUSRounded1c-Regular.ttf') format('truetype')
    font-weight: 400

@font-face
    font-family: MPLUSRounded1c
    src: url('assets/fonts/MPLUSRounded1c/MPLUSRounded1c-Medium.ttf') format('truetype')
    font-weight: 500

@font-face
    font-family: MPLUSRounded1c
    src: url('assets/fonts/MPLUSRounded1c/MPLUSRounded1c-Bold.ttf') format('truetype')
    font-weight: 700

@font-face
    font-family: MPLUSRounded1c
    src: url('assets/fonts/MPLUSRounded1c/MPLUSRounded1c-ExtraBold.ttf') format('truetype')
    font-weight: 800

// ---------- Quicksand ----------
@font-face
    font-family: Quicksand
    src: url('assets/fonts/Quicksand/Quicksand-Regular.ttf') format('truetype')
    font-weight: 400

@font-face
    font-family: Quicksand
    src: url('assets/fonts/Quicksand/Quicksand-Medium.ttf') format('truetype')
    font-weight: 500

@font-face
    font-family: Quicksand
    src: url('assets/fonts/Quicksand/Quicksand-SemiBold.ttf') format('truetype')
    font-weight: 600

@font-face
    font-family: Quicksand
    src: url('assets/fonts/Quicksand/Quicksand-Bold.ttf') format('truetype')
    font-weight: 700
