@use 'styles' as s

.main
    position: relative
    margin: 2rem

    display: grid
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr))
    flex-wrap: wrap
    justify-content: center
    gap: 1rem
    text-align: center

.content
    display: grid
    padding-inline: 2rem
    &__title
        font-size: clamp(1.2rem, 1.6rem, 10vw)
        text-transform: uppercase
        font-weight: 500
    &__subtitle
        font-size: clamp(1rem, 1.4rem, 4vw)
        margin-bottom: 1rem
    &__button
        align-self: end

.vertical_line
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    height: 100%
    width: 3px
    background-color: s.$color-green

.form
    margin-right: 20px
    display: grid
    gap: 1rem

@media (width < s.$TABLET)
    .main
        margin: 1rem 0
        gap: 2rem
    .content
        padding-inline: 0.5rem
    .form
        margin: 0
