@use 'styles' as c

.main
    margin-top: 2rem
    overflow: hidden
    padding-bottom: 2rem

.content
    padding: 2rem
    display: grid
    grid-template-columns: 1fr 3px 1fr
    justify-content: center
    align-items: center
    gap: 20px
    color: #000
    text-align: center

.about_us
    height: 100%
    display: grid

.button
    margin-top: 20px
    display: block
    align-self: end

.vertical_line
    width: 3px
    height: 100%
    background-color: c.$color-green

.title
    text-transform: uppercase
    font-size: 60px

.subtitle
    width: 50ch
    font-size: 30px

.form
    display: grid
    gap: 1rem
    align-self: center
    text-align: center
    justify-self: center
    margin-right: 20px

.content__img
    display: block
    background-image: url("src/assets/imgs/ashgabat6.jpg")
    background-size: cover
    background-repeat: no-repeat
    height: 320px
    border-radius: 20px
    justify-self: center
