@use 'styles' as s

.main
    position: relative
    margin: 2rem

    display: flex
    flex-wrap: wrap
    justify-content: center
    gap: 1rem
    text-align: center

.content
    display: flex
    flex-direction: column
    padding-inline: 2rem
    flex: 1
    container: content-text / inline-size
    &__title
        font-size: 60px
        text-transform: uppercase
    &__subtitle
        font-size: 30px
    &__button
        margin-top: auto

.vertical_line
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 3px
    height: 100%
    background-color: s.$color-green

.form
    margin-right: 20px
    display: grid
    gap: 1rem

@container content-text (width < 400px)
    .content__title
        font-size: 40px
    .content__subtitle
        font-size: 20px

@media (width < s.$TABLET)
    .main
        row-gap: 2rem
    .content
        row-gap: 1rem
