@use 'styles' as c

.main
    min-height: 45vh
    justify-content: start
    overflow: hidden

.content
    color: #000
    display: grid
    grid-template-columns: 1fr 1fr
    justify-content: center
    margin: 5% 0
    margin-left: 3rem
    height: 90%

.content__text
    justify-self: center
    .title
        text-transform: uppercase
        font-size: 60px
    .subtitle
        width: 50ch
        font-size: 30px
    .btn
        margin-top: 1rem
        padding: 1rem
        border-radius: 10px
        color: #000
        border: 1px solid #000
        background-color: transparent
        cursor: pointer
        transition: 0.6s
        &:hover
            background-color: #fff
            color: c.$color-green
            border-color: c.$color-green

.content__img
    background-image: url("src/assets/imgs/ashgabat6.jpg")
    background-size: 100% auto
    background-repeat: no-repeat
    width: 80%
    height: 850px
    border-radius: 20px
    justify-self: center
