@use 'styles' as s

.header
    min-height: 15vh
    position: absolute
    top: 0
    left: 0
    width: 100%
    padding: 1rem 0
    display: grid
    grid-template-columns: 40% 20% 40%
    justify-content: center
    align-items: center
    background-color: rgba(0, 0, 0, 0.15)
    z-index: 10
    &__logo
        justify-self: center

.nav
    display: flex
    justify-self: center
    gap: 5rem
    &__left
        margin-left: 2rem
    &__right
        margin-right: 2rem

.link
    color: #fff
    font-size: 20px
    &__text
        color: #fff
        font-size: 30px
        text-decoration: none
        &--active
            color: #48A626
