@use 'styles' as s

.header
    min-height: 15vh
    position: sticky
    top: 0
    left: 0
    width: 100%
    padding: 1rem 2rem
    display: grid
    grid-template-columns: 40% 20% 40%
    justify-content: center
    align-items: center
    background-color: rgba(0, 0, 0, 0.15)
    z-index: 10
    &__logo
        text-align: center
        justify-self: center
        img
            width: 30%

.nav
    display: flex
    justify-self: center
    align-items: center
    gap: 2rem

.link
    color: #fff
    &__text
        color: #fff
        font-size: clamp(10px, 2vw, 3rem)
        text-decoration: none
        &--active
            color: #48A626

.header__menu
    display: none
    justify-self: end
    font-size: 30px
    fill: #fff

.x
    justify-self: end
    font-size: 30px
    fill: #fff

.menu_bar
    position: fixed
    top: 0
    left: 0
    display: none
    width: 100%
    height: 100vh
    padding: 1rem 2rem
    &__header
        display: flex
        justify-content: space-between
        align-items: center
        text-align: center
        position: relative
        height: 100px
        img
            position: absolute
            top: 0
            left: 50%
            transform: translateX(-50%)
            width: 15%
        .x
            justify-self: end
    &__items
        display: grid
        grid-template-columns: 1fr
        gap: 2rem
        // height: 100%

.check
    display: none

@media (max-width: s.$TABLET)
    .nav
        display: none
    .header__menu
        display: block

    .header
        grid-template-columns: 1fr 50px
        align-content: center
        align-items: center
        transition: 0.5s
        &__logo
            display: flex
            align-items: center
            text-align: center
            transform: translateX(25px)
            grid-row: 1
            img
                width: 20%

    .check:checked
        ~ .menu_bar
            display: block
        ~ .header__logo, ~ .header__menu
            display: none
        ~ .x
            align-self: center

    .language_dropdown
        grid-row: 3
    .link
        text-align: center
        &__text
            font-size: 3rem
