@use 'styles' as c

.main
    position: absolute
    top: 0
    left: 0
    padding: 1rem 0
    width: 100%
    z-index: 10
    display: grid
    grid-template-columns: 40% 20% 40%
    justify-content: center
    align-items: center

.logo
    justify-self: center

.logo__text
    font-size: 23px
    text-decoration: none
    cursor: pointer

.nav__left
    display: flex
    justify-self: flex-start
    gap: 5rem
    margin-left: 2rem

.nav__right
    display: flex
    justify-self: flex-end
    gap: 5rem
    margin-right: 2rem

.link__block
    color: #fff
    font-size: 20px

.link__text
    color: #fff
    font-size: 20px
    font-weight: 500
    text-decoration: none

.link__active
    color: c.$orange-color
