@use 'styles' as s

.header
    min-height: 15vh
    position: absolute
    // position: relative
    top: 0
    left: 0
    width: 100%
    padding: 1rem 4rem
    display: flex
    justify-content: center
    align-items: center
    // grid-template-columns: 40% 20% 40%
    // justify-content: center
    // align-items: center
    background-color: rgba(0, 0, 0, 0.15)
    z-index: 10
    &__logo
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        text-align: center
        justify-self: center
        img
            width: 20%

.nav
    display: flex
    width: 100%
    justify-content: space-around
    // justify-content: center
    // gap: 2rem
    align-items: start
    color: #fff
    & > ul
        display: flex
        align-items: center
        gap: 2rem

.nav_left
    margin-right: auto
    justify-self: start

    // display: flex
    // justify-self: center
    // align-items: center
    // gap: 2rem

// ul
//     position: fixed
//     inset: 0 0 0 30%

.link
    color: #fff
    &__text
        color: #fff
        font-size: clamp(10px, 2vw, 3rem)
        text-decoration: none
        &--active
            color: #48A626

.header__menu
    display: none
    justify-self: end
    font-size: 30px
    fill: #fff

.x
    justify-self: end
    font-size: 30px
    fill: #fff

.menu_bar
    position: fixed
    top: 0
    left: 0
    display: none
    width: 100%
    height: 100vh
    padding: 1rem 2rem
    &__header
        display: flex
        justify-content: space-between
        align-items: center
        text-align: center
        position: relative
        height: 100px
        img
            position: absolute
            top: 0
            left: 50%
            transform: translateX(-50%)
            width: 15%
        .x
            justify-self: end
    &__items
        display: grid
        grid-template-columns: 1fr
        gap: 2rem
        // height: 100%

.check
    display: none

.nav_toggle
    display: none

@media (width < s.$DESKTOP)
    .nav
        justify-content: space-between

@media (max-width: s.$TABLET)
    .header
        grid-template-columns: 1fr 100px
    .nav
        display: block
        position: fixed
        inset: 0 0 0 30%
        justify-content: start
        justify-items: start
        z-index: 1000
        align-items: start
        align-content: start
        text-align: start
        padding: min(30vh, 10rem) 2rem
        gap: 2em
        background-color: hsl(0 0% 0% / 0.5)

        transition: 350ms ease-in
        transform: translateX(100%)
        & > ul
            display: block
        li
            text-align: start
        &[data-visible="true"]
            transform: translateX(0%)

    @supports (backdrop-filter: blur(1rem))
        .nav
            background-color: hsl(0 0% 100% / 0.1)
            backdrop-filter: blur(1rem)

    .nav_toggle
        display: block
        position: absolute
        border: 0
        background-repeat: no-repeat
        width: 3rem
        align-self: center
        background-color: transparent
        aspect-ratio: 1
        // top: 2rem
        right: 2rem
        z-index: 9999

    .link__text
        text-align: start !important
    .header__menu
        display: block

    .header
        grid-template-columns: 1fr 50px
        align-content: center
        align-items: center
        transition: 0.5s

    .check:checked
        ~ .menu_bar
            display: block
        ~ .header__logo, ~ .header__menu
            display: none
        ~ .x
            align-self: center

    .language_dropdown
        grid-row: 3
    .link
        text-align: center
        &__text
            font-size: 3rem
