@use 'styles' as s

.main
    min-height: 100vh
    display: grid
    justify-content: center
    align-items: center
    background-image: url('assets/imgs/ashgabat2.jpg')
    background-repeat: no-repeat
    background-size: cover
    background-attachment: fixed

.content
    margin-bottom: auto
    margin-top: 10vh
    text-align: center
    &__title
        font-size: clamp(3rem, 6vw, 5rem)
        font-weight: 700
        text-transform: uppercase
        color: #1F427C
        text-shadow: 1px 1px 4px #EBA503
    &__subtitle
        font-size: clamp(2rem, 4vw, 3.5rem)
        font-weight: 600
        color: #1F427C
        text-shadow: 1px 1px 2px #EBA503

@media (width < s.$TABLET)
    .content
        margin-bottom: auto
        margin-top: 5rem
