@use 'styles' as s

.main
    margin: 12em 4em 4em
    min-height: 80vh
    display: grid
    grid-template-columns: 1fr 1fr

.contacts
    margin-top: 10px
    min-height: 320px

.map
    width: auto !important
    height: 50vh

.contact
    display: flex
    align-items: center
    margin: 2rem 0
    &__icon
        width: 100px
        height: 100px
        margin-right: 40px
    &__text
        font-size: 24px
        &--bold
            font-weight: 600

.email__icon, .phone__icon
    height: 70px

.form
    margin-right: 4rem
    padding: 0 2rem
    display: grid
    gap: 1rem
    &__title
        font-size: 40px
        text-transform: uppercase

.row
    display: flex
    gap: 1rem

.flex
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
    gap: 10px

.label
    font-size: 24px
    font-weight: 600
    margin-bottom: 0.5rem

.input_phone__container
    width: 100%

.input_phone__input
    @include s.input-focus()
    border: 1px solid s.$color-green !important
    outline-color: s.$color-green !important
    border-top-right-radius: 6px !important
    border-bottom-right-radius: 6px !important
    font-size: 20px !important
    padding-left: 1.2rem !important

.input_phone__country_btn
    height: 100%
    border: 1px solid s.$color-green !important
    outline-color: s.$color-green !important

.send_btn__container
    margin-top: 1rem
    justify-self: stretch

.test_block
    @include s.input-focus()

.text_copy
    @include s.hover-text(s.$color-green)

@media (max-width: s.$DESKTOP)
    .main
        grid-template-columns: 1fr
    .contact_form
        grid-row-start: 1
        margin-top: 2rem

@media (max-width: s.$LAPTOP)
    .main
        margin: 14rem 0