.main
    position: relative

.image
    width: 98vw
    height: 120vh

.title
    position: absolute
    left: 20%
    color: #fff
    font-size: 80px
    text-transform: uppercase
    font-weight: 700

.subtitle
    position: absolute
    top: 40%
    color: #fff
    font-size: 60px
