.main
    position: relative
    padding-bottom: 50px

.image
    height: 760px !important

.legend
    position: absolute
    top: 10%
    margin: 0 auto
    // left: center
    font-size: 100px
    color: #fff
    font-weight: 800
