.main
    position: relative
    display: grid
    justify-content: center
    align-items: center
    background-image: url('../../assets/imgs/ashgabat2.jpg')
    background-repeat: no-repeat
    background-size: cover
    min-height: 100vh
    text-align: center
    scroll-snap-align: start

.content
    margin-bottom: 20rem
    .title
        color: #48A626
        font-size: 90px
        text-transform: uppercase
        font-weight: 700
        text-shadow: 1px 1px 4px #EBA503
        transition: 0.8s
        &:hover
            transform: scale(110%)
    .subtitle
        color: #EBA503
        font-size: 40px
        text-shadow: 1px 1px 4px #d698062b
