@use 'styles' as s

.main
    position: relative
    width: 100%
    overflow: hidden

.content
    display: flex
    align-items: center
    cursor: grap
    &:active
        cursor: grabbing

.tour
    position: relative
    flex-shrink: 0
    &:hover
        .tour__image
            filter: brightness(50%)
        .tour__legend
            display: block

.tour__image
    width: 100%
    aspect-ratio: 16 / 9
    border-radius: 10px
    transition: 400ms
    &:hover
        filter: brightness(50%)

.tour__legend
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    text-align: center
    font-size: 2rem
    color: white
    display: none

.dots
    margin-top: 5px
    display: flex
    justify-content: center
    gap: 10px
    &__dot
        height: 0.75rem
        width: 0.75rem
        border-radius: 50%
        border: 1px solid #000
        background-color: #fff
        &--active
            background-color: s.$color-green

.navigation
    display: flex
    justify-content: center
    align-self: center
    gap: 2rem
    &__button
        margin-top: 1rem
        display: grid
        align-items: center
        border-radius: 50%
        padding: 1rem
        background: linear-gradient(rgba(169, 169, 169, 0.8), rgba(169, 169, 169, 0.8))
        font-size: 30px
        cursor: pointer

@media (width < s.$TABLET)
    .content
        margin-bottom: 2rem
