@use 'styles' as s

.main
    position: relative
    width: 40vw
    overflow: hidden

.content
    display: flex
    align-items: center
    cursor: grap
    &:active
        cursor: grabbing

.image
    aspect-ratio: 16 / 9
    height: 500px
    width: 100%
    flex-shrink: 0
    border-radius: 20px
    background-color: #777
    object-fit: cover

.dots
    margin-top: 5px
    display: flex
    justify-content: center
    gap: 10px
    &__dot
        height: 0.75rem
        width: 0.75rem
        border-radius: 50%
        border: 1px solid #000
        background-color: #fff
        &--active
            background-color: s.$color-green

.navigation
    display: flex
    justify-content: center
    align-self: center
    gap: 2rem
    &__button
        margin-top: 1rem
        display: grid
        align-items: center
        border-radius: 50%
        padding: 1rem
        background: linear-gradient(rgba(169, 169, 169, 0.8), rgba(169, 169, 169, 0.8))
        font-size: 30px
        cursor: pointer

@media (max-width: 1800px)
    .main
        width: 60vw
