@use 'styles' as s

.main
    padding: 1rem 0
    display: flex
    flex-direction: row
    flex-wrap: wrap
    gap: 1rem
    justify-content: space-around
    background-color: #D4D5D6
    text-align: center

.info
    flex: 0 0 30%
    justify-self: center

.icon
    // display: flex
    // align-items: center
    font-size: 24px
    // gap: 6px
    margin: 10px 0

.text
    @include s.hover-text(s.$color-green)
    margin-left: 20px
    font-size: 22px

.contacts
    gap: 1rem

@media (max-width: s.$DESKTOP)
    .main
        text-align: center
        flex-direction: column

@media (max-width: s.$MOBILE)
    .main
        text-align: start