@use 'styles' as s

.main
    padding: 1rem 0

    display: flex
    flex-wrap: wrap
    justify-content: space-around
    gap: 1rem

    background-color: #D4D5D6
    text-align: center

.info
    display: flex
    flex-direction: column
    justify-content: center
    justify-self: center
    flex-basis: 30%
    font-size: clamp(1.25rem, 1.1806rem + 0.3704vw, 1.875rem)
    & > ul
        display: grid
        grid-template-columns: 1fr
    &__icon
        margin-block: 10px
    &__text
        @include s.hover-text(s.$color-green)
        margin-left: 20px

@media (width < s.$DESKTOP)
    .main
        flex-direction: column
