@use 'styles' as s

.main
    padding: 1rem 0
    display: grid
    grid-template-columns: repeat(3, 1fr)
    justify-items: center
    background-color: #D4D5D6

h4
    font-size: 20px

.icon
    display: flex
    align-items: center
    font-size: 24px
    gap: 6px
    margin: 10px 0

.text
    @include s.hover-text(s.$color-green)
    margin-left: 20px
    font-size: 22px

.contacts
    gap: 1rem
