@use 'styles' as s

.main
    min-height: 100vh
    padding: 0 6rem
    display: grid
    grid-template-columns: 1fr 1fr
    align-items: center
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('assets/imgs/ashgabat-tour.jpg')
    background-size: cover
    background-repeat: no-repeat

.tour_description
    display: grid
    text-align: end
    color: #fff
    text-shadow: 2px 2px #000000
    &__title
        font-size: 60px
        font-weight: 800
        text-transform: uppercase
    &__duration
        font-size: 26px
        font-weight: 700
        color: #C4C0C5
    &__subtitle
        font-size: 30px
    &__button
        margin-top: 1rem
        color: #fff
        text-decoration: none
        justify-self: end

.tour_image
    margin-top: 4rem
    justify-self: center

@media (max-width: 1800px)
    .main
        grid-template-columns: 1fr
    .tour_description
        text-align: center
        &__button
            justify-self: start
