.main
    min-height: 100vh
    padding: 0 6rem
    display: grid
    grid-template-columns: 1fr 1fr
    align-items: center
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('assets/imgs/ashgabat-tour.jpg')
    background-size: cover
    background-repeat: no-repeat

.tour_description
    display: grid
    color: #fff
    &__title
        font-size: 100px
        font-weight: 800
        text-transform: uppercase
    &__subtitle
        font-size: 30px
    &__button
        color: #fff
        justify-self: start

.tour_image
    margin-top: 4rem
    justify-self: center
    img
        width: 800px
        height: 600px
        border-radius: 30px
    &__button
        width: 30px
        height: 30px
        padding: 1rem
        background-color: gray


