@use 'styles' as s

.main
    padding: 0 6rem
    min-height: 100vh
    display: grid
    grid-template-columns: 1fr 1fr
    align-items: center
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('assets/imgs/ashgabat-tour.jpg')
    background-size: cover
    background-repeat: no-repeat

.tour_description
    display: grid
    text-align: end
    align-items: start
    color: #fff
    text-shadow: 2px 2px #000000
    &__title
        font-size: 60px
        font-weight: 800
        text-transform: uppercase
    &__duration
        font-size: 26px
        font-weight: 700
        color: #C4C0C5
    &__subtitle
        font-size: 30px
    &__button
        margin-top: 1rem
        color: #fff
        text-decoration: none
        justify-self: end

.tour_image
    margin-top: 4rem
    justify-self: center
    flex-basis: 50%

.tour_description__arrow
    margin-left: 15px

@media (max-width: 1800px)
    .main
        min-height: 60vh
        grid-template-columns: 1fr
        padding: 10rem 2rem 2rem 2rem
    .tour_description
        margin-top: 2rem

    .tour_description
        text-align: center
        &__button
            justify-self: start

@media (width < s.$TABLET)

    .tour_description__title
        font-size: 40px
    .tour_description__button
        width: 100%
        button
            width: 100% !important
    .tour_description__arrow
        display: none
