@use 'styles' as s

.main
    margin: 3rem
    display: grid
    justify-content: center
    gap: 1rem

.tour
    position: relative
    display: grid
    justify-content: center
    align-items: center
    gap: 1rem
    transition: 0.4s
    padding: 2rem
    padding-top: 4rem
    background-color: #EDFFFF
    border-radius: 15px
    box-shadow: -10px 10px 23px 9px rgba(0, 0, 0, 0.17)
    width: 100%
    &--scale
        transform: scale(107%)
    &:hover &
        &__image
            filter: brightness(50%)
            border-radius: 10px
    &__heading
        position: absolute
        top: 13px
        left: calc(50% - 250px)
        width: 500px
        text-align: center
        font-size: 30px
        font-weight: 500
        color: #000
    &__image
        display: block
        max-height: 450px
        max-width: 100%
        aspect-ratio: 16/9
        cursor: pointer
        transition: 0.4s
        border-radius: 15px

.image_block__current
    transform: scale(110.5%)
    .read_more
        display: block
        .header
            display: block


@media (max-width: s.$DESKTOP)
    .main
        margin: 1rem
        padding-bottom: 2rem
    .tour__heading
        font-size: 20px

@media (max-width: s.$TABLET)
    .tour
        padding: 1rem
        &__heading
            display: none
    