.main
    min-height: 100vh
    display: grid
    justify-content: center
    align-items: center
    background-image: url('assets/imgs/ashgabat2.jpg')
    background-repeat: no-repeat
    background-size: cover

.content
    margin-bottom: 50%
    text-align: center
    &__title
        font-size: 90px
        font-weight: 700
        text-transform: uppercase
        color: #48A626
        text-shadow: 1px 1px 4px #EBA503
        cursor: grab
    &__subtitle
        font-size: 60px
        font-weight: 600
        color: #48A626
        text-shadow: 1px 1px 2px #EBA503
