*
    margin: 0
    padding: 0
    box-sizing: border-box

html
    scroll-behavior: smooth

body
    font-family: "Quicksand", "MPLUSRounded1c", sans-serif
    font-optical-sizing: auto
    font-style: normal
    background-color: #F9FAFC
    -webkit-font-smoothing: antialiased
    &::webkit-scrollbar
        width: 15px
    &::webkit-scrollbar-track
        background: red

a
    text-decoration: none

ul
    list-style: none

.content
    min-height: 100vh

::-webkit-scrollbar
    width: 10px

::-webkit-scrollbar-track
    background: #d1e5ff

::-webkit-scrollbar-thumb
    border-radius: 10px
    background: #48A626

section
    display: grid
    min-height: 100vh

.line
    background-color: #000
    height: 2px
