@use 'styles' as s

.date_input
    width: 100%
    padding: 15px
    font-size: 18px
    color: s.$color-text-gray
    border: 1px solid s.$color-green
    border-radius: 5px
    outline: none

.date_input:focus
    outline: none
    // border: none
    box-shadow: 0 0 6px #488026

::-webkit-calendar-picker-indicator
    background-color: #ffffff
    padding: 5px
    cursor: pointer
    border-radius: 3px
