@use 'styles' as s

.date_input
    @include s.input

::-webkit-calendar-picker-indicator
    background-color: #ffffff
    padding: 5px
    padding-right: 15px
    cursor: pointer
    border-radius: 3px
